#header { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(21, 31, 85);
    margin-bottom: 20px;
}
#header .imagenHeader { 
    width: 13em;
    margin: auto;
}
#header .carrito {
    margin: auto;
    text-decoration: none;
    color: white;

}
#header .imagenCarrito { 
    width: 3em;
    margin: auto;
}
#header .Carrito:hover { 
    background-color: rgba(59, 59, 59, 0.178);
}
