@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
#cart .payBill {
    display: flex;
    flex-direction: column;
    width: 300PX;
    margin: 2em auto 3em auto;
}
#cart .box {
    display: flex;
    border-style: solid;
    border-width: 1px;
    justify-content: center;
}
#cart .total {
    color: #24272c;
    font-family: Poppins;
    font-weight: 300;
    font-size: 32px;
    text-align: center;
}
.price {
    margin: auto 1em auto 0.5em;
    color: #29292c;
    font-family: Poppins;
    font-weight: 300;
    font-size: 16px;
}
