@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

#footer {
    background-color: rgb(59, 59, 59);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
#footer .textoFooter {
    color: white;
    font-family: poppins;
    font-size: 14px;
    margin: auto;
}