@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

#itemCart .text-name {
    color: #24272c;
    font-family: Poppins;
    font-weight: 300;
    font-size: 32px;
    text-align: center;
}
#itemCart .text-price {
    color: #000000;
    font-family: Poppins;
    font-weight: 300;
    font-size: 23px;
}
#itemCart .selector {
    margin: auto 0 auto 1em;
    padding: 0.3em 1em;
    background-color: rgba(113, 72, 228, 0.233);
    color: rgba(49, 49, 49, 0.822);
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    border-radius: 10px;
    border-color: white;
}
#itemCart .containerDesc{
    display: flex;
    flex-wrap: wrap;
}