@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

#cards {
    width: 100%;
    max-width: 400px;
    padding-bottom: 3em;
    margin-bottom: 2em;
    background-color: rgba(245, 240, 215, 0.219);
    border-radius: 10px;
}
#cards .productImage {
    width: 70%;
    margin: auto;
    margin-top: 1em;
    display: block;
    filter: drop-shadow(5px 5px 10px #444);
}
#cards .textName {
    color: #24272c;
    font-family: Poppins;
    font-weight: 300;
    font-size: 32px;
    text-align: center;
}
#cards .textDesc {
    margin:auto;
    width: 95%;
    color: #3a3a3a;
    font-family: Poppins;
    font-weight: 300;
    font-size: 16px;
    text-align: justify;
}
.textMarca {
    color: #2522ca;
    font-family: Poppins;
    font-weight: 300;
    font-size: 16px;
}
.textPrintMarca {
    margin: auto 1em auto 0.5em;
    color: #29292c;
    font-family: Poppins;
    font-weight: 300;
    font-size: 16px;

}
.containerDesc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    margin: auto;
    line-height: 2rem;
}
.price {
    color: #000000;
    font-family: Poppins;
    margin: auto 0 auto 0;
    font-weight: 300;
    font-size: 23px;
    background-color: rgba(113, 67, 219, 0.568);
    border-radius: 20px 0 0 20px;
    padding: 0.1em 0.5em;
}   
.stock {
    color: #5e5c5c;
    font-family: Poppins;
    font-weight: 300;
    font-size: 16px;
    background-color: rgba(109, 109, 109, 0.288);
    border-radius: 0 20px 0 0;
    padding: 0.15em 0.5em;   
}
.stockText {
    color: #5e5c5c;
    font-family: Poppins;
    font-weight: 300;
    font-size: 14px;
    margin: auto 0 auto 0.2em;
}
.stockProducts {
    color: #5e5c5c;
    font-family: Poppins;
    font-weight: 300;
    font-size: 14px;
    margin: auto 0 auto 0.2em;
}
#cards .container-buttons {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}
