@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

#button .add {
    font-family: Poppins;
    font-weight: bold;
    color: white;
    background-color: rgb(216, 152, 14);
    padding: 0.5em 1em 0.5em 1em;
    border-style: unset;
    border-radius: 1em;

}
#button .pagar {
    font-family: Poppins;
    font-weight: bold;
    color: white;
    background-color: rgba(136, 72, 189, 0.671);
    padding: 0.5em 3em 0.5em 3em;
    border-style: unset;
    border-radius: 1em;
    margin: 0.3em 0;

}
#button .add:hover {
    background-color: rgba(143, 101, 10, 0.781);
}
#button .show-product {
    font-family: Poppins;
    font-weight: bold;
    color: white;
    background-color: rgb(165, 164, 162);
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-style: unset;
    border-radius: 0.5em;
}
#button .pagar:hover {
    background-color: rgba(88, 33, 114, 0.781);
}
#button .show-product:hover {
    background-color: rgba(54, 53, 51, 0.795);
}
