@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.show-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.leftInformation {
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.imagen{
    width: 100%;
    filter: drop-shadow(5px 5px 10px #444);
    margin-bottom: 2em;
}
.show-description {
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
}
#show .containerDesc {
    display: flex;
    flex-wrap: wrap;
}
#show .name {
    width: 100%;
    color: #102d5c;
    font-family: Poppins;
    font-weight: 600;
    font-size: 28px;
    text-align: center;
}
#show .description {
    width: 95%;
    color: #535050;
    font-family: Poppins;
    font-weight: 300;
    font-size: 16px;
    margin: auto;
    text-align: justify;
}

@media (min-width: 1000px) {
    .leftInformation {
        max-width: 400px;
    }
    #show .containerDesc {
        justify-content: flex-start;
    }
    .show-description {
        margin-left: 50px;
    }
}